

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
}
.container{
    background: #171717;
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}
.weather_header{
    display: flex;
justify-content: space-between;
align-items: center;

}
input{
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}
input::placeholder{
     color: #fff;
}
.weather_header{
    position: relative;
    
    
}

.weather_search i{
position: absolute;
left: 15px;
top: 10px;
font-size: 15px;
color: #fff;
}

.weather_units{
    font-size: 1.5rem;
}
.weather_units span{
    cursor: pointer;
}
.weather_units span:first-child{
    margin-right: 0.5rem;
}
.weather_body{
    text-align: center;
    margin-top: 3rem;   
}
.weather_datetime{
    margin-bottom: 2rem;
    font-size: 14px;
}
.weather_forecast{
    background: #1e1e1e;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}
.weather_icon img{
    width: 100px;
}
.weather_temperature{
    font-size: 1.75rem;
}
.weather_minmax{
    display: flex;
    justify-content: center;
}
.weather_minmax p{
    font-size: 14px;
    margin: 0.5rem;
}
 .weather_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem;
    grid-auto-columns: 20px;
    margin-top: 3rem;
  
} 
 .weather_card{
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 0.2rem;
    border-radius: 10px; 
}
.weather_card i{
    font-family: 1.5rem;
    margin-right: 1rem;
}
.weather_card h2{
    font-size: 14px;
} 
@media (max-width:936px){
    .container{
        width: 95%;
    }
    .weather_header{
        flex-direction: column;
    }
    .weather_units{
        margin-bottom: 1rem;
    }
     .weather_info{
      display: block;
    
    }
    .weather_search i{
        display: none;
    } 
   
}
@media(max-width){
    .weather_info{
        grid-template-columns: none ;
       
    
    }
    
    
}